@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Crime DB @@Crossover</h1>
    <p class="lead">Crime DB @@Crossover is a free web service for facilitating search queries in the National Criminals Database</p>
    <p>@Html.ActionLink("Search", "Search", "Search", null, new { @class="btn btn-primary btn-lg"})</p>
</div>
